<!doctype html>

<html lang="pl">
  <head>
    <meta charset="UTF-8" />

    <title>Szczegóły zadania</title>
  </head>

  <body>
    <h1>{{ task.title }}</h1>

    <p><strong>Opis:</strong> {{ task.description }}</p>

    <p><strong>Status:</strong> {{ task.status }}</p>

    <p><strong>Projekt:</strong> {{ task.project }}</p>

    <p><strong>Termin:</strong> {{ task.due_date }}</p>

    <p><strong>Tagi:</strong></p>

    <ul>
      {% for tag in task.tags.all %}

      <li>{{ tag.name }}</li>

      {% empty %}

      <li>Brak tagów</li>

      {% endfor %}
    </ul>

    <p><a href="{% url 'task_list' %}">Powrót do listy</a></p>
    <p><strong>Utworzono:</strong> {{task.created_at}}</p>
  </body>
</html>
