<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Task Manager{% endblock %}</title>

    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a class="navbar-brand fw-bold" href="/">Task Manager</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mainNavbar"
          aria-controls="mainNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'task_list' %}">Zadania</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'project_list' %}">Projekty</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container mt-4">{% block content %} {% endblock %}</main>
  </body>
</html>
